{% extends "layouts/base.html" %}
{% set active_page = "faq" %}

{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-justify">
        <div class="panel panel-success">
            <div class="panel-heading">What is this?</div>
            <div class="panel-body">
                On this website, you will learn more about the way people view leaders: who comes to their mind?
                Which qualities do they see in those leaders? Who is seen as the most authoritarian leader? The most
                aspirational? The least benevolent? Use our app to view the results!
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-justify">
        <div class="panel panel-info">
            <div class="panel-heading">How does it work?</div>
            <div class="panel-body">
                You can use our app to generate perceptual maps of leaders:
                <ol>
                    <li>Pick one variable to view on the horizontal axis.</li>
                    <li>Pick a second one to view on the vertical axis.</li>
                    <li>Optionally, pick a third one to color-code the leaders.</li>
                    <li>Finally, you can decide on the types of leaders you want to see: politicians, celebrities...</li>
                </ol>
                You can then zoom by drawing a rectangle on the portion of the graph you want to have a closer look at,
                and double-click
                to reset the zoom level.
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-justify">
        <div class="panel panel-success">
            <div class="panel-heading">Show me an example!</div>
            <div class="panel-body">
                <div class="row outer">
                    <div class="col-md-3 vcenter">
                        <div>
                            The leaders in the left part (right part) of the graph are seen as the least (most)
                            authoritarian.<br><br>
                            The leaders in the lower part (upper part) of the graph are seen as the least (most)
                            competent.<br><br>
                            The leaders represented by blue dots (red dots) are seen as the most (least) trustworthy.
                        </div>
                    </div><!--
    -->
                    <div class="col-md-9 vcenter">
                        <div>
                            <img id="example-plot" src={{ url_for('static', filename="example_plot.png")}}></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-justify">
        <div class="panel panel-info">
            <div class="panel-heading">What about the data?</div>
            <div class="panel-body">
                We have collected the data presented here in two waves:
                <ol>
                    <li>First, we have asked one group of respondents
                        to name people and characters who they view as leaders.
                    </li>
                    <li>We then asked a second group of respondents to rate those leaders on a certain number of
                        psychological
                        traits: authority, benevolence, warmth, competence, etc...
                    </li>
                </ol>
                So far, more 2500 persons have helped us rate those
                leaders, thank you to each of them! If you want to help us as well, you can
                <a href="http://insead.qualtrics.com/SE/?SID=SV_eh5wk837I9P1A9v" target="_blank">do the survey now!</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-justify">
        <div class="panel panel-success">
            <div class="panel-heading">Who is behind this project?</div>
            <div class="panel-body">
                This project is been conducted by Quentin Andre (PhD Candidate in Marketing)
                and <a href="https://www.insead.edu/facultyresearch/faculty/profiles/ddubois/" target="_blank">David Dubois</a>
                (Assistant Professor of Marketing), from INSEAD Business School (France).</br>
                The studies were designed by Quentin and David, and the coding and design of the application
                was done by Quentin using <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, <a
                    href="https://plot.ly/" target="_blank">Plotly</a>,
                and <a href="http://http://getbootstrap.com/" target="_blank">Bootstrap</a>.<br>
                If you have any question or comment, send an email to quentin(dot)andre(at)insead(dot)edu!
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{% endblock %}
