{% extends "layouts/base.html" %}
{% set active_page = "survey" %}

{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">Help us!</div>
            <div class="panel-body">
                Do you want to help? Take a less than 10 minutes anonymous survey, and tell us about yourself and your leaders!
                <br>
                <h4><u><a href="http://insead.qualtrics.com/SE/?SID=SV_eh5wk837I9P1A9v">Do the survey now!</a></u></h4>
                Thanks to your help, new results, graphs and analysis will be added here soon! <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}
