{% extends "layouts/base_bootstrap.html" %}
{% set active_page = "survey" %}

{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">Help Us!</div>
            <div class="panel-body">
                Do you want to help? Tell us about the persons you see as leaders! We have a short survey (less than 10 minutes)
                than you can take: we will ask you a few questions about yourself, as well as the people who you perceive to
                be leaders. Your data will be perfectly anonymous, and this will help us create even cooler results that we
                will showcase on this website in the future. <br>
                <h3><a href="http://www.google.com">Do the survey now !</a></h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}
